
.net-worth {
    padding: 3em;
    display: flex;
    justify-content: center;
}
  
.net-worth-table {
    border-collapse: collapse;
    margin: 1em;
}

.net-worth-table td {
    border: 1px solid white;
    padding: 0 1em;
}

.money-column {
    min-width: 20vw;
}

.green {
    color: lightgreen;
}

.red {
    color: red;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.input-data {
    -moz-appearance: textfield;
    background-color: #282c34;
    color: white;
    border: none;
    border-bottom: 1px solid white;
}

.input-data:focus {
    outline: none;
}
